/* ~/.config/eww/style.css */
.topbar {
  background-color: rgba(40, 42, 54, 0.8);
  padding: 4px 8px;
}
.topbar label {
  color: #EEE;
  font-size: 13px;
}

.volume, .backlight, .battery {
  margin: 0 2px;
}
