// ~/.config/eww/eww.scss

// first your theme

// then any globals / mixins you need
// @import "globals";

// windows
@import "./theme/dark.scss";

// //////////////////////////////////////////
// /// Windows
// //////////////////////////////////////////

// /// Topbar
.topbar {
  background-color: $topbar-bg;
}

.topbar label {
  font-size: $topbar-font-size;
  margin: $margin-small;
  color: $fg-primary;
}

.center {
  background-color: transparent;
}

.right {
  background-color: transparent;
  margin-right: 8px;
}



// //////////////////////////////////////////
// /// Widgets
// //////////////////////////////////////////

// General icon styling
image {
  color: $fg-primary;
}

/// Hyper
.hyper-button label {
  color: $hyper-fg;
  font-size: 13px;
  font-weight: bold;
}
